.infoList {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.infoItem {
	flex-basis: 30%;
}

.infoItem:nth-child(1) {
	margin-bottom: 10px;
}

.loadingOverlay {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
