.spLogo {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.listItem {
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.listItem:hover {
}

.listItem + .listItem {
  margin-left: 20px;
}

.list {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}

.confirmWrapper {
  display: flex;
  justify-content: right;
}

.step {
  display: flex;
}

.code {
  font-size: 40px;
  margin: 0;
}

.clusterName {
  width: 300px;
}

.codeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storageProviderCard {
  padding-bottom: 30px;
}

.tiupSetup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiupProgress {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tiupProgressNumber {
}

.tiupStatus {
  display: flex;
  align-items: center;
}

.billingTitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* table_black */

  color: var(--pcloud-table-black);
}

.billing {
  padding-bottom: 20px;
}

.billing :global(.ant-collapse-content-box) {
  padding: 0;
}

.billingPanel {
  padding: 0;
}

.billingPanel :global(.ant-collapse-header) {
  padding: 0;
}

.billingPrice {
  font-weight: 700;
  color: var(--pcloud-accent-blue);
}

.billingTable {
  margin-bottom: 15px;
}
